# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments
.env
.venv/
venv/


# Jupyter Notebook
.ipynb_checkpoints/

# DRL Model Outputs and Results
*.zip
*.pth
*.pt
*.pkl
evaluate_result.png

# Data (Keep directory but ignore contents)
data/*
!data/.gitkeep

# CSV files
*.csv
!macro_sentiment_2021_2026_final.csv
*.txt

# Training files
*.zip
*.pth
*.pt
