# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments
.env
.venv/
venv/
env/
ENV/

# Jupyter Notebook
.ipynb_checkpoints/

# DRL Model Outputs and Results
*.zip
*.pth
*.pt
evaluate_result.png

# Data (Keep directory but ignore contents)
data/*
!data/.gitkeep
